<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <title>Tech Blog</title>
  </head>
  <body>
    <nav>
      <a href="">Home</a>
      <div class="right-links">
        <a href="">Sign In</a>
        <a href="">Sign Up</a>
      </div>
    </nav>
    <div class="card">
      <div class="inner-card">
        <h3 class="card-title">Card Title</h3>
        <span class="card-timestamp">Timestamp</span>
      </div>
      <p class="card-body">Card Body</p>
    </div>
  </body>
  <script src="../assets/js/main.js"></script>
</html>