<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Tech Blog</title>
  </head>
  <body>
    {{#if logged_in}}
      <nav class="fixed-nav">
        <a href="/" class="home-link">Home</a>
        <div class="right-links">
          <a href="/dashboard">Dashboard</a>
          <a href="/myPosts">My Blogs</a>
          <a href="" id="signOutBtn">Sign Out</a>
        </div>
      </nav>
    {{else}}
      <nav class="fixed-nav">
        <a href="/" class="home-link">Home</a>
        <div class="right-links">
          <a href="/allPosts">Dashboard</a>
          <a href="/myPosts">My Blogs</a>
          <a href="/signIn">Sign In</a>
        </div>
      </nav>
    {{/if}}
    {{{body}}}
    {{#if logged_in}}
      <script src="/js/signOut.js"></script>
    {{/if}}
  </body>
</html>