{{#if blogs}}
  <div class="main">
    {{#each blogs}}
      <button class="cardBtn">
        <div class="inner-card">
          <h3 class="card-title">{{this.blog_title}}</h3>
          <span class="card-timestamp">{{this.createdAt}}</span>
          <span class="blogId" style="display:none">{{this.blog_id}}</span>
        </div>
      </button>
    {{/each}}
  </div>
{{else}}
  <div class="main"><header>
      You currently have no blogs.
      <br /><br />
      To create a blog post, navigate to the homepage and press the plus button.
      <br /><br />
    </header></div>
{{/if}}