<div class="main">
  <header>Add Your Comment</header>
  <form class="blogForm">
    <div>
      <label for="body">Add Your Comment:</label>
      <textarea style="height: 350px" id="body"></textarea>
    </div>
    <button
      class="submit-btn"
      id="submitBtn"
      data-blog-id="{{blog_id}}"
    >Submit</button>
  </form>
</div>
<script src=""></script>