<div class="main">
  <header>Update Your Blog</header>
  <form class="blogForm">
    <div>
      <label for="title">Blog Post Title:</label>
      <input type="text" id="title" />
    </div>
    <div>
      <label for="body">Blog Post Body:</label>
      <textarea style="height: 350px" id="body"></textarea>
    </div>
    <button class="submit-btn" id="submitBtn">Submit</button>
    <span class="blogId" style="display: none">{{blog_id}}</span>
  </form>
</div>
<script src="/js/post.js"></script>