<div class="main">
  <div>
    <header>
      Welcome to a generic tech blog site.
      <br /><br />
      To create a blog post, press the button below.
      <br /><br />
      To view, edit, or add comments to your blog posts, click the "My Blogs"
      link.
      <br />
      <br />
      To sign out, then click the "Sign Out" link.
    </header>
  </div>
  <a href="./post.html">
    <button class="blog-button">
      <i class="material-icons">add</i>
    </button>
  </a>
</div>
<script src="/js/signOut.js"></script>