<div class="main">
  <h1>Sign In</h1>
  <form>
    <h2 class="errMsg" id="errMsg"></h2>
    <div>
      <label for="email">Enter email:</label>
      <input type="text" id="email" />
    </div>
    <div>
      <label for="password">Enter Password:</label>
      <input type="password" id="password" />
    </div>
    <button class="submit-btn" id="submitBtn">Submit</button>
    <p class="logInLink">
      Don't have an account?
      <a href="/signUp">Sign Up Here</a>
    </p>
  </form>
</div>
<script src="/js/signIn.js"></script>