<div class="main">
  <h1>Sign Up</h1>
  <form>
    <h2 class="errMsg" id="errMsg"></h2>
    <div>
      <label for="email">Enter email:</label>
      <input type="text" id="email" />
    </div>
    <div>
      <label for="username">Enter Username:</label>
      <input type="text" id="username" />
    </div>
    <div>
      <label for="password">Enter Password:</label>
      <input type="password" id="password" />
    </div>
    <button class="submit-btn" id="submitBtn">Submit</button>
  </form>
</div>
<script src="/js/signUp.js"></script>